In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = ['../../R98.xlsx', '../../R99.xlsx',
             '../../R1401.xlsx', '../../R1400.xlsx',
             '../../U98.xlsx', '../../U99.xlsx',
             '../../U1401.xlsx', '../../U1400.xlsx']

# Map for accessinng dataFrames of each year easily
file_to_dfs_map = {}

for path in file_path: 
    
    file_identifier = path.split('/')[-1].split('.')[0]
    dataframes_list = []

    excel_file = pd.ExcelFile(path)
    sheetNames = excel_file.sheet_names
    

    for sheet in sheetNames:
        df_name = f'df_{sheet}'  # Create a dynamic DataFrame name
        globals()[df_name] = pd.read_excel(path, sheet_name=sheet)
        dataframes_list.append(df_name)
        print(f'{df_name} DataFrame created with shape: {globals()[df_name].shape}')
    
    file_to_dfs_map[file_identifier] = dataframes_list

df_df_R98Data DataFrame created with shape: (18430, 17)
df_df_R98P1 DataFrame created with shape: (64296, 10)
df_df_R98P2 DataFrame created with shape: (18430, 45)
df_df_R98P3S01 DataFrame created with shape: (516797, 6)
df_df_R98P3S02 DataFrame created with shape: (4175, 6)
df_df_R98P3S03 DataFrame created with shape: (22378, 4)
df_df_R98P3S04 DataFrame created with shape: (68767, 5)
df_df_R98P3S05 DataFrame created with shape: (87170, 4)
df_df_R98P3S06 DataFrame created with shape: (30600, 4)
df_df_R98P3S07 DataFrame created with shape: (35450, 4)
df_df_R98P3S08 DataFrame created with shape: (28627, 4)
df_df_R98P3S09 DataFrame created with shape: (10839, 4)
df_df_R98P3S10 DataFrame created with shape: (0, 4)
df_df_R98P3S11 DataFrame created with shape: (11269, 4)
df_df_R98P3S12 DataFrame created with shape: (67753, 4)
df_df_R98P3S13 DataFrame created with shape: (197127, 3)
df_df_R98P3S14 DataFrame created with shape: (4387, 4)
df_df_R98P4S01 DataFrame created with shape: (10820, 18)
df_df_R98P4S02 DataFrame created with shape: (14339, 19)
df_df_R98P4S03 DataFrame created with shape: (18827, 11)
df_df_R98P4S04 DataFrame created with shape: (19610, 8)
df_df_R99Data DataFrame created with shape: (18251, 19)
df_df_R99P1 DataFrame created with shape: (63289, 10)
df_df_R99P2 DataFrame created with shape: (18251, 45)
df_df_R99P3S01 DataFrame created with shape: (498283, 6)
df_df_R99P3S02 DataFrame created with shape: (3652, 6)
df_df_R99P3S03 DataFrame created with shape: (24157, 4)
df_df_R99P3S04 DataFrame created with shape: (67908, 5)
df_df_R99P3S05 DataFrame created with shape: (89096, 4)
df_df_R99P3S06 DataFrame created with shape: (29047, 4)
df_df_R99P3S07 DataFrame created with shape: (31621, 4)
df_df_R99P3S08 DataFrame created with shape: (32888, 4)
df_df_R99P3S09 DataFrame created with shape: (7999, 4)
df_df_R99P3S10 DataFrame created with shape: (0, 4)
df_df_R99P3S11 DataFrame created with shape: (6658, 4)
df_df_R99P3S12 DataFrame created with shape: (64457, 4)
df_df_R99P3S13 DataFrame created with shape: (183537, 3)
df_df_R99P3S14 DataFrame created with shape: (4177, 4)
df_df_R99P4S01 DataFrame created with shape: (10887, 18)
df_df_R99P4S02 DataFrame created with shape: (12946, 19)
df_df_R99P4S03 DataFrame created with shape: (23990, 11)
df_df_R99P4S04 DataFrame created with shape: (29088, 8)
df_df_R1401Data DataFrame created with shape: (18384, 15)
df_df_R1401P1 DataFrame created with shape: (61743, 10)
df_df_R1401P2 DataFrame created with shape: (18384, 45)
df_df_R1401P3S01 DataFrame created with shape: (489676, 6)
df_df_R1401P3S02 DataFrame created with shape: (3652, 6)
df_df_R1401P3S03 DataFrame created with shape: (22422, 4)
df_df_R1401P3S04 DataFrame created with shape: (69889, 5)
df_df_R1401P3S05 DataFrame created with shape: (80751, 4)
df_df_R1401P3S06 DataFrame created with shape: (28412, 4)
df_df_R1401P3S07 DataFrame created with shape: (32662, 4)
df_df_R1401P3S08 DataFrame created with shape: (34789, 4)
df_df_R1401P3S09 DataFrame created with shape: (10935, 4)
df_df_R1401P3S10 DataFrame created with shape: (0, 4)
df_df_R1401P3S11 DataFrame created with shape: (9097, 4)
df_df_R1401P3S12 DataFrame created with shape: (62506, 4)
df_df_R1401P3S13 DataFrame created with shape: (174397, 3)
df_df_R1401P3S14 DataFrame created with shape: (3568, 4)
df_df_R1401P4S01 DataFrame created with shape: (10303, 18)
df_df_R1401P4S02 DataFrame created with shape: (11139, 19)
df_df_R1401P4S03 DataFrame created with shape: (26941, 11)
df_df_R1401P4S04 DataFrame created with shape: (30755, 8)
df_df_R1400Data DataFrame created with shape: (18370, 18)
df_df_R1400P1 DataFrame created with shape: (62972, 10)
df_df_R1400P2 DataFrame created with shape: (19452, 45)
df_df_R1400P3S01 DataFrame created with shape: (509426, 6)
df_df_R1400P3S02 DataFrame created with shape: (3621, 6)
df_df_R1400P3S03 DataFrame created with shape: (26019, 4)
df_df_R1400P3S04 DataFrame created with shape: (69396, 5)
df_df_R1400P3S05 DataFrame created with shape: (87768, 4)
df_df_R1400P3S06 DataFrame created with shape: (29465, 4)
df_df_R1400P3S07 DataFrame created with shape: (32866, 4)
df_df_R1400P3S08 DataFrame created with shape: (34928, 4)
df_df_R1400P3S09 DataFrame created with shape: (9523, 4)
df_df_R1400P3S10 DataFrame created with shape: (0, 4)
df_df_R1400P3S11 DataFrame created with shape: (9206, 4)
df_df_R1400P3S12 DataFrame created with shape: (66456, 4)
df_df_R1400P3S13 DataFrame created with shape: (180585, 3)
df_df_R1400P3S14 DataFrame created with shape: (4014, 4)
df_df_R1400P4S01 DataFrame created with shape: (10731, 18)
df_df_R1400P4S02 DataFrame created with shape: (12194, 19)
df_df_R1400P4S03 DataFrame created with shape: (25097, 11)
df_df_R1400P4S04 DataFrame created with shape: (32053, 8)
df_df_U98Data DataFrame created with shape: (19898, 17)
df_df_U98P1 DataFrame created with shape: (68245, 10)
df_df_U98P2 DataFrame created with shape: (19898, 45)
df_df_U98P3S01 DataFrame created with shape: (632359, 6)
df_df_U98P3S02 DataFrame created with shape: (3746, 6)
df_df_U98P3S03 DataFrame created with shape: (25993, 4)
df_df_U98P3S04 DataFrame created with shape: (86250, 5)
df_df_U98P3S05 DataFrame created with shape: (96007, 4)
df_df_U98P3S06 DataFrame created with shape: (34433, 4)
df_df_U98P3S07 DataFrame created with shape: (45388, 4)
df_df_U98P3S08 DataFrame created with shape: (38975, 4)
df_df_U98P3S09 DataFrame created with shape: (14660, 4)
df_df_U98P3S10 DataFrame created with shape: (0, 4)
df_df_U98P3S11 DataFrame created with shape: (18480, 4)
df_df_U98P3S12 DataFrame created with shape: (81829, 4)
df_df_U98P3S13 DataFrame created with shape: (246298, 3)
df_df_U98P3S14 DataFrame created with shape: (2952, 4)
df_df_U98P4S01 DataFrame created with shape: (12755, 18)
df_df_U98P4S02 DataFrame created with shape: (7312, 19)
df_df_U98P4S03 DataFrame created with shape: (19137, 11)
df_df_U98P4S04 DataFrame created with shape: (19833, 8)
df_df_U99Data DataFrame created with shape: (19306, 19)
df_df_U99P1 DataFrame created with shape: (65666, 10)
df_df_U99P2 DataFrame created with shape: (19306, 45)
df_df_U99P3S01 DataFrame created with shape: (603766, 6)
df_df_U99P3S02 DataFrame created with shape: (3162, 6)
df_df_U99P3S03 DataFrame created with shape: (29638, 4)
df_df_U99P3S04 DataFrame created with shape: (83775, 5)
df_df_U99P3S05 DataFrame created with shape: (99683, 4)
df_df_U99P3S06 DataFrame created with shape: (33904, 4)
df_df_U99P3S07 DataFrame created with shape: (37832, 4)
df_df_U99P3S08 DataFrame created with shape: (41919, 4)
df_df_U99P3S09 DataFrame created with shape: (9726, 4)
df_df_U99P3S10 DataFrame created with shape: (0, 4)
df_df_U99P3S11 DataFrame created with shape: (10161, 4)
df_df_U99P3S12 DataFrame created with shape: (76547, 4)
df_df_U99P3S13 DataFrame created with shape: (220481, 3)
df_df_U99P3S14 DataFrame created with shape: (2783, 4)
df_df_U99P4S01 DataFrame created with shape: (12186, 18)
df_df_U99P4S02 DataFrame created with shape: (6377, 19)
df_df_U99P4S03 DataFrame created with shape: (23632, 11)
df_df_U99P4S04 DataFrame created with shape: (28520, 8)
df_df_U1401Data DataFrame created with shape: (19567, 15)
df_df_U1401P1 DataFrame created with shape: (64735, 10)
df_df_U1401P2 DataFrame created with shape: (19567, 45)
df_df_U1401P3S01 DataFrame created with shape: (591706, 6)
df_df_U1401P3S02 DataFrame created with shape: (3110, 6)
df_df_U1401P3S03 DataFrame created with shape: (25613, 4)
df_df_U1401P3S04 DataFrame created with shape: (86983, 5)
df_df_U1401P3S05 DataFrame created with shape: (90303, 4)
df_df_U1401P3S06 DataFrame created with shape: (30974, 4)
df_df_U1401P3S07 DataFrame created with shape: (41236, 4)
df_df_U1401P3S08 DataFrame created with shape: (43267, 4)
df_df_U1401P3S09 DataFrame created with shape: (12697, 4)
df_df_U1401P3S10 DataFrame created with shape: (0, 4)
df_df_U1401P3S11 DataFrame created with shape: (14814, 4)
df_df_U1401P3S12 DataFrame created with shape: (76382, 4)
df_df_U1401P3S13 DataFrame created with shape: (212472, 3)
df_df_U1401P3S14 DataFrame created with shape: (2207, 4)
df_df_U1401P4S01 DataFrame created with shape: (12312, 18)
df_df_U1401P4S02 DataFrame created with shape: (6174, 19)
df_df_U1401P4S03 DataFrame created with shape: (26783, 11)
df_df_U1401P4S04 DataFrame created with shape: (30772, 8)
df_df_U1400Data DataFrame created with shape: (19618, 18)
df_df_U1400P1 DataFrame created with shape: (65942, 10)
df_df_U1400P2 DataFrame created with shape: (21516, 45)
df_df_U1400P3S01 DataFrame created with shape: (617706, 6)
df_df_U1400P3S02 DataFrame created with shape: (3207, 6)
df_df_U1400P3S03 DataFrame created with shape: (30896, 4)
df_df_U1400P3S04 DataFrame created with shape: (85990, 5)
df_df_U1400P3S05 DataFrame created with shape: (96497, 4)
df_df_U1400P3S06 DataFrame created with shape: (34081, 4)
df_df_U1400P3S07 DataFrame created with shape: (40175, 4)
df_df_U1400P3S08 DataFrame created with shape: (43990, 4)
df_df_U1400P3S09 DataFrame created with shape: (10918, 4)
df_df_U1400P3S10 DataFrame created with shape: (0, 4)
df_df_U1400P3S11 DataFrame created with shape: (14931, 4)
df_df_U1400P3S12 DataFrame created with shape: (80370, 4)
df_df_U1400P3S13 DataFrame created with shape: (220419, 3)
df_df_U1400P3S14 DataFrame created with shape: (2529, 4)
df_df_U1400P4S01 DataFrame created with shape: (12399, 18)
df_df_U1400P4S02 DataFrame created with shape: (6376, 19)
df_df_U1400P4S03 DataFrame created with shape: (24345, 11)
df_df_U1400P4S04 DataFrame created with shape: (32054, 8)

In [13]:
# make new column for sheet 7 part 3 of datas which show the main category of transport cost
for file_name in file_to_dfs_map.keys():
    globals()[file_to_dfs_map[file_name][9]]['code_categorical'] = globals()[file_to_dfs_map[file_name][9]]['code'].astype('str').str[0:3]

In [17]:
globals()[file_to_dfs_map['U98'][9]]['code_categorical'].value_counts().sort_index()

code_categorical
722    15671
723     4313
724      498
731      861
732    23972
733       40
734       31
735        1
736        1
Name: count, dtype: int64

In [18]:
globals()[file_to_dfs_map['R1401'][9]]

           Address   code  purchased    value code_categorical
0      20001384225  73212          1   200000              732
1      20001384229  73212          1  1000000              732
2      20001384232  72211          1  1200000              722
3      20001384232  72317          1  2500000              723
4      20001384232  72318          1  1000000              723
...            ...    ...        ...      ...              ...
32657  23006709741  72211          1  4000000              722
32658  23006709741  72214          1  8000000              722
32659  23006709741  73216          1  1000000              732
32660  23006709741  73217          1  1500000              732
32661  23006709741  73224          1   500000              732

[32662 rows x 5 columns]