In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

In [11]:
df_income_cost = pd.read_excel(r'../../df_income_cost_family.xlsx', usecols= lambda col: col != 'Unnamed: 0').dropna()

In [12]:
df_income_cost

           Address  totall_income_x  totall_income_y
0      10001000126     1.940928e+10       9750080000
1      10001000130     6.583760e+09       1229696000
2      10001000132     1.064632e+10       1309760000
3      10001000135     3.278320e+09       1103360000
4      10001000138     9.900592e+09       5228720000
...            ...              ...              ...
19562  13006383827     6.598880e+09       3401704000
19563  13006383832     9.576840e+09      18243888000
19564  13006383835     1.201152e+10       2003120000
19565  13006383838     1.275764e+10       4870376000
19566  13006383841     7.580040e+09        716360000

[19557 rows x 3 columns]

In [13]:
kmeans = KMeans(n_clusters= 10, random_state= 88)
df_income_cost['kmean'] = kmeans.fit_predict(df_income_cost[['totall_income_x', 'totall_income_y']])