In [5]:
import pandas as pd
import numpy as np

In [6]:
file_path = ['R98.xlsx', 'R99.xlsx',
             'R1401.xlsx', 'R1400.xlsx',
             'U98.xlsx', 'U99.xlsx',
             'U1401.xlsx', 'U1400.xlsx']

# Map for accessinng dataFrames of each year easily
file_to_dfs_map = {}

for path in file_path: 
    
    file_identifier = path.split('/')[-1].split('.')[0]
    dataframes_list = []

    excel_file = pd.ExcelFile(path)
    sheetNames = excel_file.sheet_names
    

    for sheet in sheetNames:
        df_name = f'df_{sheet}'  # Create a dynamic DataFrame name
        globals()[df_name] = pd.read_excel(path, sheet_name=sheet)
        dataframes_list.append(df_name)
        print(f'{df_name} DataFrame created with shape: {globals()[df_name].shape}')
    
    file_to_dfs_map[file_identifier] = dataframes_list

df_df_R98Data DataFrame created with shape: (18430, 17)
df_df_R98P1 DataFrame created with shape: (64296, 10)
df_df_R98P2 DataFrame created with shape: (18430, 45)

KeyboardInterrupt:

In [ ]:
# return a df with index and cols address and value of year for that address in p3_01 to p3_13
def outcome_p3_01_13(df_name):
    df_output = df_name.groupby(by= ['Address'])['value'].sum().reset_index()
    return df_output

In [ ]:
# return a df with index and cols address and value of year for that address in p3_14
def outcome_p3_14(df_name):
    #for handling '            ' in R1401 p3 s14
    df_name['value'] = df_name['value'].replace('            ', 0)
    df_name['value'] = pd.to_numeric(df_name['value'])
    
    df_filtered = df_name[~pd.isna(df_name['value'])]
    df_output = df_filtered.groupby(by= 'Address')['value'].sum().reset_index()
    return df_output

In [ ]:
from functools import reduce

file_name_list = ['R98', 'R99',
             'R1401', 'R1400',
             'U98', 'U99',
             'U1401', 'U1400']

for file_name in file_name_list:
    dfs = []
    for sheet_page in range(3, 16, 1):
        temp_df = globals()[file_to_dfs_map[file_name][sheet_page]]
        temp_df = outcome_p3_01_13(temp_df).copy()
        temp_df = temp_df.rename(columns={'value': f'value_{sheet_page - 2}'})
        dfs.append(temp_df)
    temp_df = globals()[file_to_dfs_map[file_name][16]]
    temp_df = outcome_p3_14(temp_df).copy()
    temp_df = temp_df.rename(columns={'value': f'value_{14}'})
    dfs.append(temp_df)
    merged_df = reduce(lambda left, right: pd.merge(left, right, on='Address', how='outer'), dfs)
    output = pd.DataFrame()
    output['Address'] = merged_df['Address']
    output['Outcome'] = merged_df.iloc[:, 1:].sum(axis= 1)
    output.to_excel(f'outcome{file_name}.xlsx')

In [ ]:
file_path = ['R98.xlsx', 'R99.xlsx',
             'R1401.xlsx', 'R1400.xlsx',
             'U98.xlsx', 'U99.xlsx',
             'U1401.xlsx', 'U1400.xlsx']

# Map for accessinng dataFrames of each year easily
file_to_dfs_map = {}

for path in file_path: 
    
    file_identifier = path.split('/')[-1].split('.')[0]
    dataframes_list = []

    excel_file = pd.ExcelFile(path)
    sheetNames = excel_file.sheet_names
    

    for sheet in sheetNames:
        df_name = f'df_{sheet}'  # Create a dynamic DataFrame name
        globals()[df_name] = pd.read_excel(path, sheet_name=sheet)
        dataframes_list.append(df_name)
        print(f'{df_name} DataFrame created with shape: {globals()[df_name].shape}')
    
    file_to_dfs_map[file_identifier] = dataframes_list

In [38]:
file_path = [r'cost_family/outcomeR98.xlsx', r'cost_family/outcomeR99.xlsx',
             r'cost_family/outcomeR1400.xlsx', r'cost_family/outcomeR1401.xlsx',
             r'cost_family/outcomeU98.xlsx', r'cost_family/outcomeU99.xlsx',
             r'cost_family/outcomeU1400.xlsx', r'cost_family/outcomeU1401.xlsx']

# Map for accessinng dataFrames of each year easily
file_to_dfs_map = {}

for path in file_path: 
    
    file_identifier = path.split('/')[-1].split('.')[0]
    dataframes_list = []

    excel_file = pd.ExcelFile(path)
    sheetNames = excel_file.sheet_names
    

    for sheet in sheetNames:
        df_name = f'df_{sheet}'  # Create a dynamic DataFrame name
        globals()[df_name] = pd.read_excel(path, sheet_name=sheet)
        dataframes_list.append(df_name)
        print(f'{df_name} DataFrame created with shape: {globals()[df_name].shape}')
    
    file_to_dfs_map[file_identifier] = dataframes_list

df_Sheet1 DataFrame created with shape: (18430, 3)
df_Sheet1 DataFrame created with shape: (18251, 3)
df_Sheet1 DataFrame created with shape: (18370, 3)
df_Sheet1 DataFrame created with shape: (18384, 3)
df_Sheet1 DataFrame created with shape: (19898, 3)
df_Sheet1 DataFrame created with shape: (19306, 3)
df_Sheet1 DataFrame created with shape: (19618, 3)
df_Sheet1 DataFrame created with shape: (19567, 3)

In [21]:
#merging outcome data of each year by address of family and then sum all years to one dataFrame called df_income_all_year

from functools import reduce
dfs = []
for file_name in file_to_dfs_map.keys():
    temp1 = globals()[file_to_dfs_map[file_name][0]].copy()
    temp1 = temp1.rename(columns= {'lastincome': f'lastincome_{file_name}'})
    dfs.append(temp1)

merged_income = reduce(lambda left, right: pd.merge(left, right, on= 'Address', how= 'outer'), dfs)
df_income_all_year = pd.DataFrame()
df_income_all_year['Address'] = merged_income['Address']
df_income_all_year['totall_income'] = merged_income.iloc[:, 1:].sum(axis= 1)
df_income_all_year

           Address  totall_income
0      10001000126    19409280000
1      10001000130     6583760000
2      10001000132    10646320000
3      10001000135     3278320000
4      10001000138     9900592000
...            ...            ...
19552  13006383827     6598880000
19553  13006383832     9576840000
19554  13006383835    12011520000
19555  13006383838    12757639992
19556  13006383841     7580040000

[19557 rows x 2 columns]

In [23]:
#read cost of families from year 98 to 1401

file_path = [r'income_family/R98_output.xlsx', r'income_family/R99_output.xlsx',
             r'income_family/R1400_output.xlsx', r'income_family/R1401_output.xlsx',
             r'income_family/U98_output.xlsx', r'income_family/U99_output.xlsx',
             r'income_family/U1400_output.xlsx', r'income_family/U1401_output.xlsx']

# Map for accessinng dataFrames of each year easily
file_to_dfs_map = {}

for path in file_path: 
    
    file_identifier = path.split('/')[-1].split('.')[0]
    dataframes_list = []

    excel_file = pd.ExcelFile(path)
    sheetNames = excel_file.sheet_names
    

    for sheet in sheetNames:
        df_name = f'df_{sheet}'  # Create a dynamic DataFrame name
        globals()[df_name] = pd.read_excel(path, sheet_name=sheet)
        dataframes_list.append(df_name)
        print(f'{df_name} DataFrame created with shape: {globals()[df_name].shape}')
    
    file_to_dfs_map[file_identifier] = dataframes_list

df_Sheet1 DataFrame created with shape: (18429, 2)
df_Sheet1 DataFrame created with shape: (18250, 2)
df_Sheet1 DataFrame created with shape: (18366, 2)
df_Sheet1 DataFrame created with shape: (18380, 2)
df_Sheet1 DataFrame created with shape: (19893, 2)
df_Sheet1 DataFrame created with shape: (19302, 2)
df_Sheet1 DataFrame created with shape: (19612, 2)
df_Sheet1 DataFrame created with shape: (19557, 2)

In [39]:
globals()[file_to_dfs_map[list(file_to_dfs_map.keys())[0]][0]]

       Unnamed: 0      Address     Outcome
0               0  10001000126  1218760000
1               1  10001000130   153712000
2               2  10001000132   163720000
3               3  10001000135   137920000
4               4  10001000138   653590000
...           ...          ...         ...
19562       19562  13006383827   425213000
19563       19563  13006383832  2280486000
19564       19564  13006383835   250390000
19565       19565  13006383838   608797000
19566       19566  13006383841    89545000

[19567 rows x 3 columns]

In [41]:
file_to_dfs_map

{'outcomeR98': ['df_Sheet1'],
 'outcomeR99': ['df_Sheet1'],
 'outcomeR1400': ['df_Sheet1'],
 'outcomeR1401': ['df_Sheet1'],
 'outcomeU98': ['df_Sheet1'],
 'outcomeU99': ['df_Sheet1'],
 'outcomeU1400': ['df_Sheet1'],
 'outcomeU1401': ['df_Sheet1']}

In [44]:
#merging outcome data of each year by address of family and then sum all years to one dataFrame called df_income_all_year

from functools import reduce
dfs = []
for file_name in file_to_dfs_map.keys():
    temp1 = globals()[file_to_dfs_map[file_name][0]].drop(columns= ['Unnamed: 0']).copy()
    temp1 = temp1.rename(columns= {'Outcome': f'Outcome{file_name}'})
    dfs.append(temp1)

merged_cost = reduce(lambda left, right: pd.merge(left, right, on= 'Address', how= 'outer'), dfs)
df_cost_all_year = pd.DataFrame()
df_cost_all_year['Address'] = merged_cost['Address']
df_cost_all_year['totall_income'] = merged_cost.iloc[:, 1:].sum(axis= 1)
df_cost_all_year

           Address  totall_income
0      10001000126     9750080000
1      10001000130     1229696000
2      10001000132     1309760000
3      10001000135     1103360000
4      10001000138     5228720000
...            ...            ...
19562  13006383827     3401704000
19563  13006383832    18243888000
19564  13006383835     2003120000
19565  13006383838     4870376000
19566  13006383841      716360000

[19567 rows x 2 columns]

In [46]:
df_income_cost_family = pd.merge(df_income_all_year, df_cost_all_year, on= 'Address', how= 'outer')

In [47]:
print(f'length of df_income_all_year = {len(df_income_all_year)}')
print(f'length of df_cost_all_year = {len(df_cost_all_year)}')
print(f'length of df_income_cost_family = {len(df_income_cost_family)}')

length of df_income_all_year = 19557
length of df_cost_all_year = 19567
length of df_income_cost_family = 19567

In [48]:
df_income_cost_family

           Address  totall_income_x  totall_income_y
0      10001000126     1.940928e+10       9750080000
1      10001000130     6.583760e+09       1229696000
2      10001000132     1.064632e+10       1309760000
3      10001000135     3.278320e+09       1103360000
4      10001000138     9.900592e+09       5228720000
...            ...              ...              ...
19562  13006383827     6.598880e+09       3401704000
19563  13006383832     9.576840e+09      18243888000
19564  13006383835     1.201152e+10       2003120000
19565  13006383838     1.275764e+10       4870376000
19566  13006383841     7.580040e+09        716360000

[19567 rows x 3 columns]